<header>
    <div class="container header-container">
        <a href="https://nooracademia.in" class="logo-link">
            <img src="{{ site.vault_url }}assets/logo/logo.png" alt="Noor Academia Logo" class="header-logo">
            
            <div class="logo-text-wrapper">
                <div>
                    <span class="logo-main">NOOR</span> <span class="logo-sub">ACADEMIA<sup>IN</sup></span>
                </div>
                <span class="header-tagline">PROGRAM</span>
            </div>
        </a>
        
        {% include nav.html %}
    </div>
</header>