<nav class="main-nav">
    <input type="checkbox" id="nav-toggler" class="nav-toggler">
    <label for="nav-toggler" class="nav-icon">
        <span></span>
    </label>

    <ul class="nav-links">
        <li><a href="https://nooracademia.in/">Home</a></li>
        <li><a href="https://nooracademia.in/#features">Why Us</a></li>
        <li><a href="https://nooracademia.in/#courses">Subjects</a></li>
        <li><a href="https://nooracademia.in/#videos">Lectures</a></li>
        <li><a href="https://nooracademia.in/#about">Mission</a></li>
        <li><a href="https://nooracademia.in/contact.html">Contact</a></li>
        <li><a href="https://compiler.nooracademia.in" target="_blank" class="nav-compiler-link">Compiler</a></li>
    </ul>
</nav>
