<header>
    <div class="container">
        <a href="https://nooracademia.in" class="logo-link">
            <img src="assets/logo/logo.png" alt="Noor Academia" class="header-logo">
            <div class="logo-text-wrapper">
                <div>
                    <span class="logo-main">NOOR</span><span class="logo-sub">ACADEMIA<sup>IN</sup></span>
                </div>
                <span class="header-tagline">PROGRAM</span>
            </div>
        </a>

        <nav>
            <!-- Menu will be dynamically loaded here by loader.js -->
        </nav>
    </div>
</header>
