<ul class="nav-links">
    <li><a href="https://nooracademia.in" id="nav-home">Home</a></li>
    <li><a href="./" id="nav-program">Program</a></li> <!-- This points to the root of the current site -->
    <li><a href="https://nooracademia.in/why-us" id="nav-why-us">Why Us</a></li>
    <li><a href="https://nooracademia.in/subjects" id="nav-subjects">Subjects</a></li>
    <li><a href="https://nooracademia.in/lectures" id="nav-lectures">Lectures</a></li>
    <li><a href="https://nooracademia.in/mission" id="nav-mission">Mission</a></li>
    <li><a href="https://nooracademia.in/contact" id="nav-contact">Contact</a></li>
    <li><a href="https://compiler.nooracademia.in/" id="nav-compiler">Compiler</a></li>
</ul>